:root {
  --default-submit-button: hsl(7, 88%, 67%);
  --neutral-gray-300: hsl(252, 6%, 83%);
  --neutral-gray-500: hsl(245, 15%, 58%);
  --neutral-gray-100: hsla(245, 15%, 58%, 15%);
  --neutral-gray-350: hsla(252, 6%, 83%, 15%);
  --neutral-gray-700: hsl(245, 19%, 35%);
  --neutral-gray-900: hsl(248, 70%, 10%);
  --warm-red: #ff7276;
}
::file-selector-button {
  display: none;
}
::placeholder {
  color: var(--neutral-gray-300);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#upload-avatar {
  display: none;
}

#upload-avatar-label {
  display: block;
  border: 2px dashed var(--neutral-gray-500);
  border-radius: 15px;
  height: 125px;
  width: 90%;
  background-image: linear-gradient(var(--neutral-gray-100));
  margin: auto;
  text-align: center;
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px); /* Safari support */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > label {
  align-self: flex-start; 
  margin-left: 5%;
}

.form > :not(label) {
  width: 90%;
}

.avatar-upload-container {
  min-width: 375px;
}

.avatar-upload-container .avatar-upload-icon {
  background-image: linear-gradient(var(--neutral-gray-350));
  border: 1px solid var(--neutral-gray-100);
  border-radius: 10px;

  margin: 20px 10px 10px 10px;
}

.avatar-upload-icon {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.upload-avatar-label p {
  color: var(--neutral-gray-300);
  font-size: 1.1rem;
}
.upload-avatar-label:hover {
  background-color: var(--neutral-gray-350);
  cursor: pointer;
}

.avatar-upload-favicon {
  transform: translateY(3px);
  margin-right: 10px;
  color: #d1d0d5;
}
.avatar-upload-favicon.error path {
  stroke: var(--warm-red);
}

.avatar-upload-fav-subtext {
  display: inline-block;
  font-size: 0.7rem;
  color: var(--neutral-gray-300);
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-buttons button {
  background-color: var(--neutral-gray-350);
  border: none;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 0.6rem;
}

.frosted-input {
  background-color: var(--neutral-gray-100);
  color: var(--neutral-gray-300);
  border-radius: 10px;
  border: 1px solid var(--neutral-gray-500);
  padding: 15px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.frosted-input.error {
  border-color: var(--warm-red);
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.input-error-state {
  min-height: 1rem;
  font-size: 0.7rem;
  color: var(--warm-red);
  margin-top: 4px;
}
.generate-ticket-btn {
  background-color: var(--default-submit-button);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
}

.logo {
  text-align: center;
}
.logo img {
  height: 100px;
  width: 175px;
}

.content-label {
  font-size: 20px;
  margin: 15px 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #0b0220;

  background-image: url("assets/images/pattern-lines.svg"),
    url("assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
    url("assets/images/pattern-circle.svg"),
    url("assets/images/pattern-circle.svg"),
    url("assets/images/pattern-squiggly-line-top.svg"),
    url("assets/images/background-mobile.png");
  background-size: 250% auto, 70% auto, 30% auto, 30% auto, cover, cover;

  background-blend-mode: normal, normal, normal, normal, normal, lighten;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;

  background-position: center top, left bottom, -20px -25px, right, right 30px,
    center top;

  color: white;
  font-family: "Inconsolata", monospace;
  min-height: 100vh;
}
header {
  text-align: center;
  margin-right: 20px;
}
header h1 {
  font-size: 1.8rem;
}
header p {
  margin: 20px 10px;
  color: hsl(252, 6%, 83%);
  font-size: 1.2rem;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

input:focus,
label:focus {
  outline: 2px solid var(--neutral-gray-500);
  outline-offset: 1px;
}

input:hover {
  background-color: var(--neutral-gray-350);
  cursor: pointer;
}

@media (min-width: 1024px) {
  body {
    background-image: url("assets/images/pattern-lines.svg"),
      url("assets/images/pattern-squiggly-line-bottom-desktop.svg"),
      url("assets/images/pattern-circle.svg"),
      url("assets/images/pattern-circle.svg"),
      url("assets/images/pattern-squiggly-line-top.svg"),
      url("assets/images/background-desktop.png");

    background-size: 80% auto, 60% auto, 15% 25%, 15% 25%, 30% 15%, cover;
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;

    background-position: center top, left bottom, 30px -75px, 64%, 110% 50px,
      center top;
  }

  .frosted-input {
    padding: 15px 100px;
  }
}
